*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color: #302e29;
    --main-color: #D0312D;
    --second-color: #858585;
    --bg-color: #fffbf6;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
body{
  height: 100vh;
	width: 100%;
    background: #fff;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}

.heading{
    margin-left: 450px;
    width: 30%;
    color: var(--main-color);
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
input {
  width: 250px;
  height: 40px;
  float: right;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #212121;
}
.wrapper{
  background: #ececec;
  padding: 0 20px 0 20px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.side-image{
  background-image: url("images/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.row{
width:  900px;
height:550px;
border-radius: 10px;
background: #fff;
padding: 0px;
box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text p{
  color: #fff;
  font-size: 20px; 
}
i{
  font-weight: 400;
  font-size: 15px;
}
.right{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.input-box{
width: 330px;
box-sizing: border-box;
}
img{
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.input-field{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input{
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}
.input-box .input-field label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}
.input-field input:focus ~ label
 {
  top: -10px;
  font-size: 13px;
}
.input-field input:valid ~ label
{
 top: -10px;
 font-size: 13px;
 color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #743ae1;
}
.submit{
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: .4s;
}
.submit:hover{
  background: rgba(37, 95, 156, 0.937);
  color: #fff;
}
.signin{
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .5s;
}
span a:hover{
  text-decoration: underline;
  color: #000;
}

@media only screen and (max-width: 768px){
  .side-image{
      border-radius: 10px 10px 0 0;
  }
  img{
      width: 35px;
      position: absolute;
      top: 20px;
      left: 47%;
  }
  .text{
      position: absolute;
      top: 70%;
      text-align: center;
  }
  .text p, i{
      font-size: 16px;
  }
  .row{
      max-width:420px;
      width: 100%;
  }

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
}