*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color: #302e29;
    --main-color: #D0312D;
    --second-color: #858585;
    --bg-color: #fffbf6;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
body{
    background: #fff;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}

.heading{
    margin-left: 450px;
    width: 30%;
    color: var(--main-color);
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-weight: 600;
    padding: 5px 10px;
    margin: 2px 25px;
    border-bottom: 2px solid transparent;
    transition: all .38s ease;
}
.navbar a:hover{
    border-bottom: 2px solid #00008B;
    color: #00008B;
}
.styled-table {
    border-collapse: collapse;
    margin: 150px 0;
    width: 80%;
    margin-left: 100px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
