@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font: 100%/1 'PT Serif', serif;
    background: #fff;
}
h2{
    text-align: center;
}
nav {
    background: #00008B;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.heading{
    margin-left: 450px;
    width: 60%;
    color: var(--main-color);
}
:active, :focus {
    outline-style: none;
}

a:link {
    color: #cc8500;
    text-decoration: none;
}

a:hover {
    color: #00008B;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

section{
    padding: 90px 15% 80px;
}
.home{
    height:100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url(../img/Windesheim.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.home-img img{
    width: 100%;
    height: auto;
    background-position: center;
}
.home-text h1{
    font-size: var(--big-font);
    line-height: 1.2;
    margin-bottom: 2rem;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--second-color);
    line-height: 32px;
    margin-bottom: 2.3rem;
}
.btn{
    display: inline-block;
    padding: 14px 26px;
    background: #00008B;
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5rem;
    transition: all .38s ease;
}
.btn:hover{
    letter-spacing: 1px;
}

.about-section{
    background: url(../img/cv_foto.jpeg) no-repeat left;
    background-size: 35%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-left: 100px;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
.search{
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
}
#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-left: 100px;
    width: 80%;
    margin-left: 100px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    
  }
  
  #myTable {
    border-collapse: collapse;
      margin: 150px 0;
      width: 80%;
      margin-left: 50px;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  #myTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  #myTable th,
  #myTable td {
    padding: 12px 15px;
  }
  #myTable tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  #myTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  #myTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  #myTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .wrapper{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
   background: #009879;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .card{
    background: #fff;
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
  }
  .card .circle .box,
  .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .card .circle .box{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .title{
    background: #009879;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
    font-size: 20px;
    font-weight: 600;
  }
p{
    margin-left: 250px;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.container .project_data {
    background: #fff;
    width: 600px;
    border-radius: 02px;
    border-top: 04px solid #47b2e4;
    margin: 0 10px;
  }
  
  .container .project_data form {
    padding: 0 1rem;
  }
  
  .container .project_data form input,
  textarea {
    width: 95%;
    margin: 05px 0 0 10px;
    padding: 07px 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    border-radius: 05px;
  }
  
  .container .project_data h2 {
    margin: 1.5rem;
    border-bottom: 0.2rem #47b2e4 solid;
    width: 25%;
  }
  
  .container .project_data label {
    display: block;
    padding-top: 15px;
    padding-left: 10px;
  }
  
  .container .project_data button {
    margin: 20px 10px;
    border: none;
    padding: 10px 20px;
    background: #47b2e4;
    font-size: 1rem;
    border-radius: 05px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .container .project_data button:hover {
    background: #3498db;
    transition: 0.3s;
    color: #fff;
  }
  
  .container .project_data2 {
    background: #fff;
    border-radius: 02px;
    border-top: 04px solid #3498db;
    width: 400px;
    margin: 0 10px;
  }
  
  .container .project_data2 ul {
    list-style: none;
  }
  
  .container .project_data2 ul li {
    margin: 1.5rem 1rem;
  }
  
  .container .project_data2 ul li i {
    font-size: 1.4rem;
    color: #47b2e4;
  }
  
  .container .project_data2 ul li strong {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .container .project_data2 ul li p {
    font-size: 14px;
    margin-left: 35px;
  }
  .input{
    width: 95%;
    margin: 05px 0 0 10px;
    padding: 07px 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    border-radius: 05px;
  }
/* Style the footer */
.footer{
    background:#00008B;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
  width:100%;
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}





@media (max-width: 1050px) {
    label.logo {
        padding-left: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

/* Responsive media query code for small screen */
@media screen and (min-device-width: 360px) and (max-device-width: 768px){
    .checkbtn {
        display: block;
    }
    p{
      text-align: center;
    }
    label.logo {
        font-size: 22px;
    }
    .home{
        background:url("../img/Windesheim.jpeg") no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
    section {
        
        height: calc(100vh - 80px);
    }
    section >a{
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .title{
      text-align: center;
    }
    .text{
        margin-left: 10px;
        width: 100%;
    }
    .search {
      width: 100%;
      text-align: left;
    }
    
    #myTable{
        width: 5%;
        margin-left: 5px;
    }
    .footer{
        text-align:center;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
    }
    .footer .row a i{
        margin:0% 3%;
    }

    @media(max-width: 753px){
        .wrapper{
          max-width: 700px;
        }
        .wrapper .card{
          width: calc(50% - 20px);
          margin-bottom: 20px;
        }
      }
      @media(max-width: 505px){
        .wrapper{
          max-width: 500px;
        }
        .wrapper .card{
          width: 100%;
        }
      
      @media screen and (max-width:1200px){
        .inner-container{
            padding: 80px;
        }
    }
    
    @media screen and (max-width:1000px){
        .about-section{
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container{
            width: 100%;
        }
    }
    
    @media screen and (max-width:600px){
        .about-section{
            padding: 0;
        }
        .inner-container{
            padding: 60px;
        }
    }
}
}
@media (max-width: 1037px) {
    .container .contact_data,
    .contact_data2 {
      width: 80%;
      margin: 10px 0px;
    }
    .container .contact_data h2 {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .container .contact_data2 {
      width: 75%;
      margin: 10px 0px;
    }
    .container .contact_data h2 {
      width: 50%;
    }
  }

